<tr valign="top">
    <th scope="row">{{ label }}</th>
    <td>
        <code>{{ abspath }}</code>
        <input type="text" name="{{ name }}" value="{{ value }}" class="regular-text">
        <p class="description">Set the directory where the static content
            lives, relative to the site abspath. You can use <code>..</code> to
            traverse up a directory. Warning! It is up to you to take care to
            set a path that will not allow site visitors to access information
            in files you don't want to be publicly available.</p>
    </td>
</tr>

