<tr valign="top">
    <th scope="row">{{ label }}</th>
    <td>
        <input type="text" name="{{ name }}" value="{{ value }}" class="regular-text">
        <p class="description">This is the path where the files live on the
            filesystem from {{ abspath }}.</p>
    </td>
</tr>

