<tr valign="top">
    <th scope="row">{{ label }}</th>
    <td>
        <code>{{ homeUrl }}</code>
        <input type="text" name="{{ name }}" value="{{ value }}" class="regular-text">
        <p class="description">Set the URL sub-directory you want to use to
            serve your static content, e.g.
            http://mysite.com/<strong>myfolder/</strong></p>
    </td>
</tr>

