<tr valign="top">
    <th scope="row">{{ label }}</th>
    <td>
        <input type="text" name="{{ name }}" value="{{ value }}" class="regular-text">
        <p class="description">This is the folder you want to be available in
            the URL, e.g. http://mysite.com/<strong>myfolder/</strong></p>
    </td>
</tr>

