<ul>
    {% if notices %}
        {% for notice in notices %}
            <li>
                <div class="updated"><p>{{ notice|raw }}</p></div>
            </li>
        {% endfor %}
    {% endif %}

    {% if errors %}
        {% for error in errors %}
            <li>
                <div class="error"><p>{{ error|raw }}</p></div>
            </li>
        {% endfor %}
    {% endif %}
</ul>

