<!DOCTYPE html>
<html>
    <head>
        <title>File not found</title>
        <style type="text/css">
        </style>
    </head>
    <body>
        <div class="container">
            <h1>{{ heading }}</h1>
            <div class="message">{{ message }}</div>
        </div>
    </body>
</html>
