{% extends "layouts/admin.twig" %}

{% block body %}
    <h2>StaticSubdir Settings</h2>

    <p>This plugin allows you to specify a virtual URL path and have static
        content served from a provided directory on disk.</p>

    <p>Example: Set the virtual path to a value like <code>downloads</code>,
        meaning that users could visit {{ homeUrl }}downloads/example.txt to
        download the file. The plugin will look for the file example.txt at the
        path specified by the <em>real path</em> setting below.</p>

    <hr>

    <form action="options.php" method="post">
        {{ settingsMarkup | raw }}
        <table class="form-table">
            {{ fieldMarkup | raw }}
        </table>
        <input class="button-primary" id="submitbutton" name="save" type="submit" value="Save Changes"/>
    </form>

{% endblock %}
